build/
out/
bin/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt
!*.cmake.in

compile_commands.json
.cache/
.vscode/
.idea/
.DS_Store

.zed/

*.a
*.so
*.dll
*.dylib
*.exe
